body {
    font-family: Arial, Helvetica sans-serif; 
    text-align: center;
}
h1{
    color: darkgreen;
}
p {
    font-weight:lighter; 
    color: rgb(#031803, green, blue);
}
img {
    border: 1px solid darkolivegreen; 
    width: 30%;
}
ol {
    border: 1px solid #93c706;
}